hy-push-state a, .a {
  position: relative; // inline
  padding-bottom: .15rem; // inline
  transition: color 1s, border-color 250ms; // link

  &:hover {
    text-decoration: none;
    transition: color 1s, border-color 50ms;
  }

  &.no-hover {
    border-bottom: none; // inline
    padding-bottom: 0; // inline
    transition: none; // link
    &:hover { transition: none; } // link
  }
}