<footer class="site-footer">
    <ul class="contact-list">
        {%- if site.email -%}
          <li>
            <a href="mailto:{{ site.email }}">E-Mail</a>
          </li>
        {%- endif -%}

        {%- if site.instagram_username -%}
          <li>
              <a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}" target="_blank">Instagram</a>
          </li>
        {%- endif -%}
    </ul>

    <p class="copyright">
        Copyright &copy; {{ 'now' | date: "%Y" }} 퐝군. All rights reserved.
    </p>
</footer>
