<span class="sr-only">{{ site.data.strings.social | default:"Social" }}{{ site.data.strings.colon }}</span>
<ul>  
  {% unless include.author.social.instagram %}
    {% assign instagram_username = author.instagram.username | default: author.instagram | default:site.instagram.username | default:site.instagram | default:site.instagram_username %}
    {% if instagram_username %}
      {% include social-list-item.html platform="github" username=instagram_username %}
    {% endif %}
  {% endunless %}

  {% for link in include.author.social %}
    {% include social-list-item.html platform=link.first username=link.last %}
  {% endfor %}
</ul>
