@charset "utf-8";

$app-introduce-background-color: #f3eee7;
$app-default-header-text-color: #2d2d29;

$tech-default-header-background-color: #131a2d;
$tech-default-header-text-color: #d7d9dc;

$life-default-header-background-color: #e7ecf3;
$life-default-header-text-color: #476491;

$app-default-layout-padding: 1rem 1.8rem;

.site-header {
  border: none;
  background: $app-introduce-background-color;
  padding : $app-default-layout-padding;
  display : flex;
  justify-content: space-between;
  align-items: center;
  min-height: 0;

  &.tech {
    background: $tech-default-header-background-color;
    
    .site-title {
      color: $tech-default-header-text-color;
      visibility: visible;
    }
    
    .page-link {
      color: $tech-default-header-text-color;
    }
  }
  
  &.life {
    background: $life-default-header-background-color;
  
    .site-title {
      color: $life-default-header-text-color;
      visibility: visible;
    }
  }

  .site-title {
    visibility: hidden;
  }
}

.site-title {
  float: initial;
  font-weight: bold;
}

.site-nav {
  float: initial;
}

.page-content {
  padding : 0;
}

.app-introduce {
  background: $app-introduce-background-color;
  text-align: center;

  .title {
    color: #7f7927b5;
    font-weight: bold;
  }

  .description {
    color: #71716e;
  }
}

.wrapper {
  padding : 30px;
}

.copyright {
  color : #868788;
  margin-bottom: 0;
  font-size : 12px;
}

.site-footer {
  background: #454954;
  padding: $app-default-layout-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;

  hr {
    border: none;
    border-top: 1px solid #726c73;
    margin: 1rem 0;
  }
}

.contact-list {
  margin: 0;

  li {
    float: left;
    margin-right: 1rem;

    a {
      color: #d6d4d4;

      &:hover {
        color: #fff;
      }
    }
  }
}

// home > latest post
.latest-post-head {
  font-weight: bold;
  text-align: center;

  .icon {
    vertical-align: middle;
    margin-right: .5rem;
  }
}

.latest-post-container {
  .read-more-btn-wrapper {
    clear: both;
    text-align: center;

    a {
      color: #fff;
      background: black;
      padding: .8rem 1rem;
      font-weight: bold;

      &:hover {
        background: #020202de;
        text-decoration: none;
      }
    }
  }

  .empty-message {
    text-align: center;
    color: #585757;
    padding: 0 .5rem 2rem 0;

    .icon {
      font-size: 2rem;

    }
  }
}

.latest-life-post-wrapper {
  background: #f3efeb36;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}


// post card
.post-card-container {
  list-style: none;
  margin: 0;
  padding: 1rem 3.5rem;

  .post-card {
    border : 1px solid #e1e8ed;
    border-radius: 1rem;
    overflow: hidden;
    width: 18rem;
    height: 20rem;
    float: left;
    margin: 0 2rem 2rem 0;
    position: relative;
  }

  .post-title {
    margin: 0 0 .5rem 0;
    font-size: 18px;

    a {
      color: #0b0c0e;
      line-height: 1.5rem;
      // ToDO: ellipsis
      // text-overflow: ellipsis;
      // overflow: hidden;
      // white-space: nowrap;
    }
  }

  .post-info {
    background: #fff;
    position: absolute;
    bottom: 0;
    padding: .8rem;
  }

  .post-date {
    color: #656565;
    font-size: 12px;
  }
}

// base
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.text-center {
  text-align: center;
}