hy-push-state a, .a {
  transition: color 1s, border-color 250ms; 
  
  &:hover {
    text-decoration: none;
    transition: color 1s, border-color 50ms;
  }
  

  &.no-hover {
    transition: none; 
    &:hover { transition: none; } 
  }
}